body {
  margin: 0;
  padding: 30px 20px 0;
  font-family: 'GilroyLight', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 30px;
 }

.container {
  width: 1160px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.btn:hover {
  background-color: #f0c52e;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}
 


/*index*/

.main-header {
  min-height: 300px;
  position: relative;
  padding: 35px 60px;
  
  background-color: #f7e296;
}

.header-logo {
  position: absolute;
  top: -15px;
  
  font-size: 48px;
  font-family: "GilroyExtraBold", 'Arial', sans-serif;
  color: #000;
  text-transform: uppercase;
}

.main-header a {
  color: #000;
}

.header-top {
  display: flex;
  margin-bottom: 25px
}

.header-top a {  
  position: relative;
  
  margin-top: 10px;
}

.header-search {
position:relative
}

.header-search input {
  position: relative;
  padding-left: 40px;
  width: 355px;
  
  background-color: inherit;
  border: none;
  outline: none;
}

.header-search input::-webkit-input-placeholder{ 
  color: rgba(0, 0, 0, 0.3); 
}

.header-search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3); 
}

.header-search input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6); 
} 

.header-search input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6); 
}

.header-search input:focus::-webkit-input-placeholder {
  color: #000;
} 

.header-search input:focus::-moz-placeholder {
  color: #000;
}

.header-search::after{
  content: ""; 
  position: absolute;
  
  left:0;
  top: 19px;
  
  width: 16px;
  height: 16px;
  
  background-image: url(../img/search-icon.png);
}

.header-search-btn {
  visibility: hidden;
  position: relative;
  width: 85px;
  height: 50px;
  
  background-color: inherit;
  
  border: 2px solid #000;
  outline: none;
}

.header-search-btn:hover {
  background-color: #000;
  color: #fff
}

.header-search-btn:active {
  background-color: #000;
  color: rgba(256, 256, 256, 0.3)
}

.header-search-btn::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 81px;
  
  width: 360px;
  height: 2px;
  
  background-color: #000;
}

.header-search input:focus ~ .header-search-btn {
 visibility: visible
}

.login {
  margin-left: 100px;
  padding-left: 27px;
  background: url(../img/login-icon.png) no-repeat  0 9px
}

.login:hover {
  color: rgba(0, 0, 0, 0.6);
  background-image: url(../img/login-hover.png)
}

.login:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: url(../img/login-active.png)
}

.compare {
  margin-left: 210px;
  padding-left: 27px;
  
  background: url(../img/compare-icon.png) no-repeat 0 9px
}

.compare:hover {
  color: rgba(0, 0, 0, 0.6);
  background-image: url(../img/compare-hover.png)
}

.compare:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: url(../img/compare-active.png) 
}

.bascket {
  margin-left: 20px;
  padding-left: 40px;
  
  background: url(../img/bascket-icon.png) no-repeat 14px 8px
}

.bascket:hover {
  color: rgba(0, 0, 0, 0.6);
  background-image: url(../img/bascket-hover.png)
}

.bascket:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: url(../img/bascket-active.png)
}

/**/

.header-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.header-nav li {
  position: relative;
}

.header-nav > li > a {
  font-family: "GilroyExtraBold", 'Arial', sans-serif;;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.5px
}

.header-nav > li > a:hover {
  color: rgba(0, 0, 0, 0.6)
}

.header-nav > li > a:active {
  color: rgba(0, 0, 0, 0.3)
}

.header-nav > li:first-child > a {
  padding-right: 33px;
}

.header-nav > li:first-child > a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 7px;
  
  width: 16px;
  height: 16px;
  
  background: url(../img/plus-icon.png)
}

.header-nav > li:nth-child(2) {
  margin-left: 290px
}

.header-nav > li:nth-child(3) {
  margin-left: 35px
}

.header-nav > li:nth-child(4) {
  margin-left: 105.5px
}
/**/

.sub-menu {
  position: absolute;
  left: -60px;
  top: 25px;
  display: none;
  width: 1160px;
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 55px;
  background-color:  #f7e296;
  z-index: 1
  
}

.sub-menu ul:first-child {
  width:240px
}

.sub-menu ul:nth-child(2) {
  width:200px
}

.header-nav > li:hover .sub-menu {
  display: flex;
}

/*slider*/

.slider {
  position: relative;
  top: -110px;
  height: 400px;
  margin-bottom: 80px;
}

.slide {
  display: none;
  
}

.slide-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  margin-right: 30px;
}


.description {
  position: relative;
  width: 510px;
}

.description::before {
  content: "";
  position: absolute;
  top: 35px ;
  left: 0;
  
  width: 100px;
  height: 8px;
  background-color: #fff;
}

.description-number {
  position: absolute;
  top: 5px;
  right: 0;
  
  font-family: "GilroyExtraBold", 'Arial', sans-serif;
  font-size: 180px;
  color: #fff;
  line-height: 140px;
  
}

.descripton-title {
  position: relative;
  margin: 80px 0 20px;
  
  
  font-family: "GilroyExtraBold", 'Arial', sans-serif;
  font-size: 47px;
  line-height: 55px;
}

.description-text {
    width: 475px;
}

.description-btn {
  margin: 27px 16px;
  
}

.description-features {
  display: flex;
  margin-top: 50px
}

.description-features li:not(:last-child) {
  margin-right: 80px;
}

.description-features span {
  font-family: 'GilroyLight', 'Arial', sans-serif;
  font-size: 36px;
}

.description-features p {
  margin: 0;
  margin-top: 8px;
  
  font-size: 13px;
}

.slider input,
.services input {
  display: none;
}

.slider-controls {
  position: absolute;
  right: 80px;
  bottom: 66px;
  display: flex
}

.slider-controls label {
  display: block;
  margin-left: 22px;
  
  width: 12px;
  height: 12px;
  
  background-image: url(../img/slider-button-off.png);
  z-index: 1
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-image: url(../img/slider-button-on.png);
}

#btn-1:checked ~  .slides .slide:nth-child(1),
#btn-2:checked ~  .slides .slide:nth-child(2),
#btn-3:checked ~  .slides .slide:nth-child(3) {
  display: flex
}

/*popular*/

.popular {
  display: flex;
  justify-content: space-between;
  margin-bottom: 185px;
}

.popular-item {
  display: block;
  width: 160px;
  
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 18px;
  color: #000;
  line-height: normal;
}
 
.popular-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-color: #f7e296
}

.popular-item:hover .popular-img {
  background-color: #f0c52e;
}

.popular-item:active .popular-img img {
  opacity: 0.3;
}

/*services*/
.services {
  height: 288px;
  margin-bottom: 95px;
  
  background-color: #e5e5e5;
}

.services .container {
  display: flex;
}

.services-btn {
  position: relative;
  top: -21px;
  width: 290px;
  z-index: 1
}

.services-btn li {
  margin-bottom: 25px;
}

.services-btn .btn {
  width: 160px;
  padding-left: 25px
}

.services-btn::before {
  content: "";
  position: absolute;
  right: 0;
  top: -80px;
  
  height: 320px;
  width: 7px;
  background-color: #000;
  
}

.services-description {
  position: relative;
  top: -58px;
  
  width: 888px;
  
  padding-left: 116px;
  padding-right: 70px;
}

.service {
  display: none;
  min-height: 250px;
  
}

.service-1 {
  background: url(../img/delivery.png) no-repeat right 40px;
}

.service-2 {
  background: url(../img/warranty.png) no-repeat right 20px;
}

.service-3 {
  background: url(../img/credit.png) no-repeat right 20px;
}

.services-description {
  
}

.service h2 {
  display: inline-block;

  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 47px;
}

.service p {
  margin: 0px;
  width: 460px
}

#services-btn-1:checked ~ .services-btn label[for="services-btn-1"],
#services-btn-2:checked ~ .services-btn label[for="services-btn-2"],
#services-btn-3:checked ~ .services-btn label[for="services-btn-3"]{
  background-color: #000;
  color: #f7e184;
  width: 100%;
}

#services-btn-1:checked ~ .services-description .service-1,
#services-btn-2:checked ~ .services-description .service-2,
#services-btn-3:checked ~ .services-description .service-3 {
  display: block
}

/*logotypes*/

.logotypes {
  display: flex;
  justify-content: space-around;
  
  margin-bottom: 80px;
}

.logotypes a:nth-child(1):hover {
  background-image: url(../img/logo-1-hover.png)
}

.logotypes a:nth-child(2):hover {
  background-image: url(../img/logo-2-hover.png)
}

.logotypes a:nth-child(3):hover {
  background-image: url(../img/logo-3-hover.png)
}

.logotypes a:nth-child(4):hover {
  background-image: url(../img/logo-4-hover.png)
}

/*info*/

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about-us {
  position: relative;
  width: 478px;
  padding-top: 62px;
}

.contacts {
  position: relative;
  width: 560px;
  padding-top: 62px;
}

.info h2 {
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 47px;
  margin: 0;
  margin-bottom: 53px
}

.info p {
  margin-bottom: 30px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  
  width: 80px;
  height: 7px;
  background-color: #000;
}

.info ul {
  margin-top: 69px;
  margin-bottom: 60px
}
.about-us li {
  position: relative;
  padding-left:  35px;
  margin-bottom: 10px;
  
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 16px;
} 

.about-us li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  
  width: 4px;
  height: 4px;
  
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}


.contacts img {
  margin-top: 9px;
  margin-bottom: 58px;
}

.map-open {
  display: block;
}

/*footer*/

.main-footer {
  padding: 60px 0 68px;
  
  color: #fff;
  background-color: #464646;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 25px
}

.footer-logo {
  font-size: 48px;
  line-height: 48px;
  font-family: "GilroyExtraBold", 'Arial', sans-serif;
  color: #ffc600;
  text-transform: uppercase;
}

.footer-logo:hover {
  color: #c39b22;
}

.footer-logo:active {
  color: #8d7536;
}

.footer-user-block {
  padding-top: 5px;
}

.footer-user-block a {
  position: relative;
  margin: 0;
  margin-left: 37px;
  padding-left: 21px;
  
  color: rgba(256, 256, 256, 0.7);
}

.footer-user-block a:hover {
  color: #fff;
}

.footer-user-block a:active {
  opacity: 0.3
}

.footer-user-block .login {
  background: url(../img/login-icon-gold.png) no-repeat 0 3px;
}

.footer-user-block .compare {
  background: url(../img/compare-icon-gold.png) no-repeat 0 3px;
}

.footer-user-block .bascket {
  background: url(../img/cart-icon-gold.png) no-repeat 0 3px;
}

.footer-user-block .login:hover {
  background: url(../img/login-gold-hover.png) no-repeat 0 3px;
}

.footer-user-block .compare:hover {
  background: url(../img/compare-gold-hover.png) no-repeat 0 3px;
}

.footer-user-block .bascket:hover {
  background: url(../img/cart-gold-hover.png) no-repeat 0 3px;
}

/**/

.footer-middle {
  display: flex;
  
  margin-bottom: 60px;
}

.footer-middle-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 167px;
  margin-right: 206px;
  
  width: 425px;
  
  font-family: "GilroyExtraBold", 'Arial', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-middle-nav a {
  color: #fff;
}

.footer-middle-nav a:hover {
  color: rgba(256, 256, 256, 0.6 )
}

.footer-middle-nav a:active {
  color: rgba(256, 256, 256, 0.3 )
}

/**/

.footer-bottom {
  display: flex;
}

.footer-bottom .yellow-block {
  width: 80px;
  height: 7px;
  
  margin-top:15px;
  
  background-color: #ffc600
}

.footer-bottom-social {
  display: flex;
  justify-content: space-between;
  margin-left: 430px;
  
  width: 140px;
  font-size: 0;
}

.footer-bottom-social a {
  display: block;
  width: 32px;
  height: 32px;
  
  border-radius: 50%;
}

.footer-bottom-social .fb {
  background: url(../img/fb.png) no-repeat 50% 50%
}

.footer-bottom-social .inst {
  background: url(../img/inst.png) no-repeat 50% 50%
}

.footer-bottom-social .tw {
  background: url(../img/tw.png) no-repeat 50% 50%
}


.footer-bottom-social .fb:hover {
  background: url(../img/fb-hover.png) no-repeat 50% 50%
}

.footer-bottom-social .inst:hover {
  background: url(../img/inst-hover.png) no-repeat 50% 50%
}

.footer-bottom-social .tw:hover {
  background: url(../img/tw-hover.png) no-repeat 50% 50%
}


.footer-bottom-social .fb:active {
  background: url(../img/fb-active.png) no-repeat 50% 50%
}

.footer-bottom-social .inst:active {
  background: url(../img/inst-active.png) no-repeat 50% 50%
}

.footer-bottom-social .tw:active {
  background: url(../img/tw-active.png) no-repeat 50% 50%
}

.copyright-logo {
  display: block;
  width: 27px;
  height: 35px;
  
  margin-left: auto;
  
  font-size: 0;
  
  background-image: url(../img/logo-html.png)
}

.copyright-logo:hover {
  background-image: url(../img/logo-html-hover.png)
}

.copyright-logo:active {
  background-image: url(../img/logo-html-active.png)
}


/*CATALOG*/

.inner-body .main-header {
  min-height: 185px;
  margin-bottom: 47px;
}


.inner-body .compare {
  margin-left: 65px;
}

.inner-body .login-out {
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.inner-body .login-out:hover {
  color: rgba(0, 0, 0, 0.6)
}

.inner-body .login-out:active {
  color: rgb(0, 0, 0)
}

.catalog-title {
  padding-left: 60px;
  margin-bottom: 30px; 
  
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 47px;
}

.breadcrumbs {
  display: flex;
  
  padding-left: 60px;
  margin-bottom: 40px;
}

.breadcrumbs a {
  position: relative;
  
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a[href="#"] {
  padding-right: 20px;
  margin-right: 19px
}

.breadcrumbs a:hover{
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active{
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a[href="#"]::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  
  width: 4px;
  height: 7px;
  
  background-image: url(../img/nav-arrow.png);
}

/*catalog-header+*/
.catalog-header-wrapper {
    background: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
}


.catalog-header {
  display:flex;
}

.catalog-header-left {
  position: relative;
  width:330px;
  padding: 20px 0 20px 60px; 
  
  background-color: #dbdbdb;
}

.catalog-header-right {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0 20px 70px;
  width: 830px;
  background-color: #ebebeb;
}

.catalog-header-title {
  margin: 0;
  margin-right: 45px;
  
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.catalog-header-sorting {
  display: flex;
  justify-content: space-between;
  width: 290px;
  margin-right: 225px
}

.catalog-header-sorting a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.catalog-header-sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-header-sorting a:active {
  color: rgb(0, 0, 0);
}

.catalog-header-sorting .active {
  color: #000;
}

.catalog-header-arrow {
  display: flex;
  justify-content: space-between;
  
 
  width: 41px;
}

.catalog-header-arrow a { 
  display: block;
  width: 11px;
  height: 10px;
  
  font-size: 0;
}


.catalog-header-arrow .arrow-up {
  background-image: url(../img/icon-up-dir.png);
}

.catalog-header-arrow .arrow-up.active {
  background-image: url(../img/icon-up-dir-active.png);
}

.catalog-header-arrow .arrow-up:hover:not(.active) {
  background-image: url(../img/icon-up-dir-hover.png);
} 

.catalog-header-arrow .arrow-up:active:not(.active) {
  background-image: url(../img/icon-up-dir-active.png);
} 

.catalog-header-arrow .arrow-down {
  background-image: url(../img/icon-down-dir.png);
}

.catalog-header-arrow .arrow-down.active {
  background-image: url(../img/icon-down-dir-active.png);
}

.catalog-header-arrow .arrow-down:hover:not(.active) {
  background-image: url(../img/icon-down-dir-hover.png);
}

.catalog-header-arrow .arrow-down:active:not(.active) {
  background-image: url(../img/icon-down-dir-active.png);
}

/*catalog-content*/

.catalog-content-wrapper {
    background: linear-gradient(to right,#efefef 0%,#efefef 29%,#fff 30%,#fff 100%)
}

.catalog-content {
  display: flex;
  justify-content: space-between
}

/*catalog-filter*/

.catalog-filter {
  width: 330px;
  padding-left: 60px;
  padding-right: 70px;
  padding-top: 70px;
  
  background-color: #eeeeee;
}

.catalog-filter fieldset {
  margin:0;
  margin-bottom: 25px;
  padding: 0;
  border: none;
}

.catalog-filter legend {
  margin-bottom: 20px;
  width: 100%;
  padding: 0;
  padding-top: 8px;
  
  border-top: 2px solid black;
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 18px;;
}

fieldset:first-of-type  legend{
  margin-bottom: 30px
}

fieldset:first-of-type {
  margin-bottom: 35px
}

/**/


.catalog-filter .range-controls {
  position: relative;
  margin-bottom: 15px;
}

.catalog-filter .scale {
  width: 100%;
  height: 2px;
  
  background-color: #dbdbdb;
}

.catalog-filter .bar {
  width: 60%;
  height: 2px;
  
  background-color: #91c92f;
}

.catalog-filter .range-toggle {
  position: absolute;
  bottom: -8px;
  
  width: 4px;
  height: 4px;
  
  background-color: #ababab;
  
  border: 8px solid #fff;
  border-radius: 50%;
  
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  box-sizing: content-box;
}

.catalog-filter .range-toggle-min {
  left: -6px;
}

.catalog-filter .range-toggle-max {
  left: 60%
}

.price-controls {
  display: flex;
}

.catalog-filter .price-controls input {
  width: 90px;
  
  border: none;
  background-color: inherit;
}

.catalog-filter p {
  margin: 0;
  margin-bottom: 10px;
}

.catalog-filter input[type="checkbox"],
.catalog-filter input[type="radio"] {
  display: none;
}

.catalog-filter input[type="checkbox"] + label,
.catalog-filter input[type="radio"] + label {
  position: relative;
  padding-left: 40px
}

.catalog-filter input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  
  width: 23px;
  height: 23px;
  
  background-image: url(../img/checkbox-off.png)
}

input[type="checkbox"]:checked + label::before {
  width: 27px;
  background-image: url(../img/checkbox-on.png);
}
/**/


.catalog-filter input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  
  width: 25px;
  height: 25px;
  
  background-image: url(../img/radio-off.png)
}

input[type="radio"]:checked + label::before {
  background-image: url(../img/radio-on.png);
}

.catalog-filter-btn {
  border: none;
  background-color: transparent;
  z-index: 2
}


/*catalog-items*/

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  width: 760px;
  padding-top: 70px
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 50px;
}

.catalog-item-description {
  display:flex;
  justify-content: space-between;
  
  margin-top: 20px;
}

.catalog-item-description span {
  font-size: 16px;
  color: #464646
}

.catalog-item-description span:first-child {
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 18px;
  line-height: normal;
  
  width: 260px
}

.catalog-items .new::after {
  content: "new";
  position: absolute;
  right: 20px;
  top: 20px;
  
  width: 60px;
  
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
   text-align: center;
  line-height: 60px;
  color: #d9d9d9;
}

/*paginator*/

.paginator {
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 72px;
  margin-top: -10px;
  
  background-color: #ebebeb;
}

.paginator ul {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 90px;
}

.paginator ul a {
  color: rgba(0, 0, 0, 0.3)
}

.paginator ul a:hover:not(.active) {
  color: rgba(0, 0, 0, 0.6)
}

.paginator ul a:active:not(.active) {
  color: rgb(0, 0, 0)
}

.paginator a {
  color: #000;
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4.2px
}

.paginator .active {
  color: #000;
}

.paginator .prev,
.paginator .next {
  display: block;
  width: 125px;
  padding: 20px 0;
  
  text-align: center;
}

.paginator .prev:hover,
.paginator .next:hover {
  background-color: #d9d9d9;
}

.paginator .prev:active,
.paginator .next:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

/*modal-content*/

.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  
  margin-top: -280px;
  margin-left: -480px;
  
  width: 960px;
  padding: 90px 100px;
  
  background-color: #fff;
  
  z-index: 5; 
  
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  animation: move 0.5s
}

.modal-content-close {
  position: absolute;
  right: 20px;
  top: 20px;
  
  width: 55px;
  height: 55px;
  
  border: none;
  outline: 0;
  border-radius: 50%;
  
  font-size: 0;
  
  background-color: #f7e296;
  
}

.modal-content-close:hover {
  background-color: #f0c52e;
}

.modal-content-close:active {
  background-color: #faedc0;
}

.modal-content-close:after,
.modal-content-close:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -11px;
  margin-top: -1px;
  
  width: 22px;
  height: 2px;
  
  background-color: #fff;
}

.modal-content-close:after {
  transform: rotate(45deg)
}

.modal-content-close:before {
  transform: rotate(-45deg)
}

.modal-content-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-content-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  
  font-family: 'GilroyExtraBold', 'Arial', sans-serif;
  font-size: 18px;
}

.modal-content-form input {
  width: 360px;
  height: 50px;
  
  padding: 0 20px;
  
  outline: 0;
  border: none;
  
  background-color: #f2f2f2;
}

.modal-content-form input:hover,
.modal-content-form textarea:hover {
  background-color: #eaeaea;
}

.modal-content-form input:focus,
.modal-content-form textarea:focus {
  background-color: #fff;
  outline: 3px solid #f7e296;
}

.modal-content-form input:focus:invalid,
.modal-content-form textarea:focus:invalid {
  background-color: #f6dada;
  outline: none;
}

.modal-content-form textarea {
  width: 760px; 
  height: 155px;
  
  padding: 20px;
  margin-bottom: 30px;
  
  border: none;
  outline: 0;
  
  background-color: #f2f2f2;
} 


.modal-content-btn {
  border: none;
  background-color:  inherit;
  outline: 0;
}

/*modal-content-map*/

.modal-content-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -480px;
  
  width: 960px;
  height: 560px;
  
  background: url(../img/map-big.jpg) center -8px;
  
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  
  z-index: 5;
  animation: move-2 0.8s
}

.modal-content-map .modal-content-close {
  top: 40px
}

.modal-content-show {
  display: block;
}

@keyframes move {
  from {
    left: -70000px
  }
  35% {
    left: 55%
  }
  70% {
    left: 45%
  }
  to {
    left: 50%
  }
}

@keyframes move-2 {
  from {
    left: 70000px
  }
  35% {
    left: 45%
  }
  70% {
    left: 55%
  }
  to {
    left: 50%
  }
}